.plans {
  display: flex;
  justify-content: space-between;
}

.toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: auto;
  height: 40px;
  border-radius: 8px;
  background-color: var(--color-alabaster);
}

.toggle-container p {
  font-family: 'Ubuntu';
  font-size: 13px;
  font-weight: 500;
  color: var(--color-cool-gray);
  transition: color 0.3s ease;
}

.toggle-container p.selected {
  color: var(--color-marine-blue);
}

/* ------------ Phone and portrait tablets adaptive ------------ */
@media (max-width: 768px) {
  .plans {
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
  }
}

/* ------------ Tablets and desktop adaptive ------------ */
@media (min-width: 769px) {
  .plans {
    margin: 35px 0;
  }
}
