/* ------------ Typography ------------ */

@font-face {
  font-weight: 400;
  font-family: Ubuntu;
  src: url('../public/assets/fonts/Ubuntu-Regular.ttf');
}

@font-face {
  font-weight: 700;
  font-family: Ubuntu;
  src: url('../public/assets/fonts/Ubuntu-Bold.ttf');
}

@font-face {
  font-weight: 500;
  font-family: Ubuntu;
  src: url('../public/assets/fonts/Ubuntu-Medium.ttf');
}

/* ------------ Color Variables ------------ */

:root {
  --color-marine-blue: hsl(213, 96%, 18%);
  --color-light-marine: hsl(213, 71%, 30%);
  --color-purplish-blue: hsl(243, 100%, 62%);
  --color-light-purplish: hsl(243, 89%, 68%);
  --color-pastel-blue: hsl(228, 100%, 84%);
  --color-light-blue: hsl(206, 94%, 87%);
  --color-strawberry-red: hsl(354, 84%, 57%);
  --color-cool-gray: hsl(231, 11%, 63%);
  --color-light-gray: hsl(229, 24%, 87%);
  --color-magnolia: hsl(217, 100%, 97%);
  --color-alabaster: hsl(231, 100%, 99%);
  --color-white: hsl(0, 0%, 100%);
}

/* ------------ Layout ------------ */

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: var(--color-magnolia);
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
